html, body, header, button,  div, h1, h2, h3, i {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.app{
  display: flex;
  flex-direction: column;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #263F73;
  color: #e4e4e1;
}

header button {
  display: none;
}

.header-profile{
  display: flex;
}

.header-profile i{
  font-size: 2.3rem;
  margin-right: 10px;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
}

h2 {
  font-size: 0.8rem;
  font-weight: 400;
}

h3 {
  font-size: 0.8rem;
}

@media only screen and (min-width: 769px) {
  .app{
    width: 320px;
    height: 600px;
    position: fixed;
    bottom: 0;
    right: 25px;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 6px rgba(0,0,0,.2);
    transition: transform 0.2s ease-out 0s;
  }

  .app.hide {
    transform: translateY(542px);
  }

  header {
    position: relative;
  }

  header button {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
};