html, body, header, main, footer, div, h1, h2, h3, p, button, i, textarea {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2vh;
  font-weight: 400;
}

body {
  overflow: hidden;
  color: #25272F;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #34495E;
  color: #eef3f3;
  height: 12vh;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

header button {
  display: none;
}

.header-profile {
  display: flex;
}

.header-profile i {
  font-size: 2.5rem;
  margin-right: 10px;
  color: #eef3f3;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
}

h2 {
  font-size: 0.8rem;
}

h2.typing {
  font-style: italic;
}

h3 {
  font-size: 0.85rem;
  color: #5edfc3;
}

main {
  height: 68vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #eef3f3;
  scroll-behavior: smooth; 
}

main::-webkit-scrollbar {
  background-color: #dddada;
  width: 10px;
  height: 10px;
}

main::-webkit-scrollbar-thumb {
  background-color: #bebebe;
  border-radius: 4px;
}

main > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 82%;
  background-color: #dddada;
  border-radius: 15px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  line-break: anywhere;
}

.message:last-of-type {
  margin-bottom: 70px;
}

.message i {
  color: #25272F;
  align-self: flex-end;
  font-size: 1.2rem;
  margin-left: 5px;
}

.message i.read {
  color: #2396c4;
}

.message-content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.message-time {
  display: flex;
  justify-content: flex-end;
  opacity: 0.6;
  font-size: 0.8rem;
}


.message.incoming {
  align-self: flex-start;
  background-color: #5edfc3;
  color: #25272F;
}

footer {
  background-color: #34495E;
  height: 13vh;
  display: flex;
}

footer button {
  opacity: 0.4;
  transition: all 0.2s ease-out 0s;
  cursor: not-allowed;
}

footer button.active {
  opacity: 1;
  cursor: pointer;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.footer-wrapper i {
  color: #5edfc3; 
}

textarea {
  background-color: #eef3f3;
  color: #25272F;
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 6px 8px;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2vh;
}

textarea:focus {
  background-color: #ffffff;
}

::-webkit-textarea-placeholder { 
  color: #25272F;
  opacity: 0.6;
  font-weight: 400;
}

:-ms-textarea-placeholder { 
  color: #25272F;
  opacity: 0.6;
  font-weight: 400;
}

::-moz-textarea-placeholder { 
  color: #25272F;
  opacity: 0.6;
  font-weight: 400;
}

::placeholder {
  color: #25272F;
  opacity: 0.6;
  font-weight: 400;
}

@media only screen and (max-width: 1199px) and (orientation: landscape) {
  html, textarea {
    font-size: 2.1vw;
  }
  
  header, footer {
    height: 15vh;
  }

  main {
    height: 58vh;
  }

  .footer-wrapper {
    padding: 18px 10px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
  
  .app {
    width: 320px;
    height: 567px;
    position: fixed;
    bottom: 0;
    right: 25px;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 6px rgba(0,0,0,.2);
    transition: transform 0.2s ease-out 0s;
  }

  .app.hide {
    transform: translateY(506px);
  }

  header {
    position: relative;
    padding: 13px 20px;
    height: auto;
  }

  header button {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  main {
    height: 421px;
  }

  footer {
    height: 95px;
  }

  footer button:hover {
    transform: scale(0.9);
  }

  textarea {
    font-size: 1rem;
  }
};